.rtl-support {
    direction: rtl;
}

.my-header {
	text-transform: uppercase;
	box-shadow: inset 0 -1px var(--my-custom-shadow-color);
}
.my-header > :first-child {
	margin-left: 2em;
}

.my-category, .my-view {
	flex: 1;
	min-height: 0;
}

.my-menu, .my-view {
	overflow: auto;
}

.my-menu, .my-header {
	line-height: 60px;
}

.my-menu > .my-navbutton {
	box-shadow: inset 0 -1px var(--my-custom-shadow-color);
}

.my-header > .my-navbutton:not:first-child {
	box-shadow: inset 1px 0 var(--my-custom-shadow-color);
}

.my-navbutton {
	border-radius: unset;
	background-color: inherit;
	color: inherit;
	height: unset !important;
	margin: unset;
}

.my-startview, .my-view1, .my-view2 {
	color: white;
}

.my-startview {
	background-color: var(--my-custom-color1);
}

.my-view1 {
	background-color: var(--my-custom-color2);
	padding: var(--lumo-space-m);
	align-content: flex-start;
}

.my-view2 {
	background-color: var(--my-custom-color3);
}

.my-view3 {
	background-color: var(--my-custom-color4);
}

.my-item {
	background: whitesmoke;
	margin: var(--lumo-space-m);
	padding: var(--lumo-space-m);
	border-radius: var(--lumo-border-radius);
}